.css-b3dvpx-MuiStack-root{
    padding: 0px !important;
}
.css-b3dvpx-MuiStack-root>.MuiTextField-root{
    min-width: 120px !important
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding:10px 7px !important
}